body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #58FAFA;;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
    padding-bottom: 10px;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #58FAFA;
}

.servicos{
    background-color: #8181f7;
}

.bg-footer{
    background-color: black;
    color: white;
    padding: 10px;
}